
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>FitzBuzz</h1>
    <p>You ever wondered what the FizzBuzz value for 6,364,473 was? Me neither! But here's a website for those people that do!</p>
    <p>Those people will find everything they need below. There's also a #JSOB API coming soon ;)</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <h1>All the FizzBuzzes!</h1>
    <table class="table">
    <tr>
      <th>number</th>
      <th>value</th>
    </tr>
      <% @fizzbuzzs.each do |fb| %>
        <tr>
          <td><%= fb.number %></td>
          <td><%= fb.value %></td>
          <% if current_user %>
          <td><a class="btn btn-default">Favourite?</a></td>
          <% end %>
        </tr>
      <% end %>
      <div>
        <%= will_paginate @fizzbuzzs, renderer: BootstrapPagination::Rails %>
      </div>
    </table>
  </div>
</div>
